
{% extends "base.html" %}
{% block title %}Table{% endblock %}

{% block steps %}
    <ul id="progressbar">
        <li class="active" id="step1"><strong>Step 1</strong></li>
        <li id="step2"><strong>Step 2</strong></li>
        <li id="step3"><strong>Step 3</strong></li>
        <li id="step4"><strong>Step 4</strong></li>
    </ul>
{% endblock %}

{% block action %}
    <div class="my-4 mb-5">
        <p class="lead fw-normal">Envie seu arquivo em formato CSV contendo a latitude, longitude e peso da localidade para a otimização logística.</p>
        <div class="card-body">
            <form method="POST" action="" enctype="multipart/form-data">
                <input type="file" name="file" class="form-control form-control-lg mb-3" id="customFile", onchange="$('#upload-file-info').text(this.files[0].name)">
                <button type="submit" value="Submit" class="btn btn-primary px-5">Enviar</button>
            </form>
    </div>
    </div>
{% endblock %}