
{% extends "base.html" %}
{% block title %}Table{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
{% endblock %}

{% block steps %}
    <ul id="progressbar">
        <li class="active" id="step1"><strong>Step 1</strong></li>
        <li class="active" id="step2"><strong>Step 2</strong></li>
        <li id="step3"><strong>Step 3</strong></li>
        <li id="step4"><strong>Step 4</strong></li>
    </ul>
{% endblock %}

{% block action %}
    <p class="lead fw-normal">Escolha a coluna de latitude, longitude e peso da localidade para a otimização logística.</p>
    <div class="card-body">
        <form method="POST" action="" enctype="multipart/form-data">
            <div class="row mb-3">
                <div class="col">
                    <label class="form-label"" for="lat">Coluna de Latitude</label>
                    <select name="lat" id="lat" class="form-select">
                        {% for col in column_names %}
                        <option value="{{col}}">{{col}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <label class="form-label" for="long">Coluna de Longitude</label>
                    <select name="long" id="long" class="form-select">
                        {% for col in column_names %}
                        <option value="{{col}}">{{col}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <label class="form-label" for="peso">Coluna de Peso</label>
                    <select name="peso" id="peso" class="form-select">
                        {% for col in column_names %}
                        <option value="{{col}}">{{col}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button type="submit" value="Submit" class="btn btn-primary mb-3 px-5">Enviar</button>
        </form>
    </div>
{% endblock %}

{% block content %}

{#    <div class="container-fluid">#}
{##}
{#        <div class="d-sm-flex align-items-center justify-content-between mb-4">#}
{#            <h1 class="h3 mb-0 text-gray-800">Cards</h1>#}
{#        </div>#}
{##}
{#        <div class="row">#}
{#            <div class="col-xl-4 col-md-6 mb-4">#}
{#                <div class="card border-left-primary shadow h-100 py-2">#}
{#                    <div class="card-body">#}
{#                        <div class="row no-gutters align-items-center">#}
{#                            <div class="col mr-2">#}
{#                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">#}
{#                                    Earnings (Monthly)</div>#}
{#                                <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>#}
{#                            </div>#}
{#                            <div class="col-auto">#}
{#                                <i class="fas fa-calendar fa-2x text-gray-300"></i>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-xl-4 col-md-6 mb-4">#}
{#                <div class="card border-left-primary shadow h-100 py-2">#}
{#                    <div class="card-body">#}
{#                        <div class="row no-gutters align-items-center">#}
{#                            <div class="col mr-2">#}
{#                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">#}
{#                                    Earnings (Monthly)</div>#}
{#                                <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>#}
{#                            </div>#}
{#                            <div class="col-auto">#}
{#                                <i class="fas fa-calendar fa-2x text-gray-300"></i>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-xl-4 col-md-6 mb-4">#}
{#                <div class="card border-left-warning shadow h-100 py-2">#}
{#                    <div class="card-body">#}
{#                        <div class="row no-gutters align-items-center">#}
{#                            <div class="col mr-2">#}
{#                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">#}
{#                                    Pending Requests</div>#}
{#                                <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>#}
{#                            </div>#}
{#                            <div class="col-auto">#}
{#                                <i class="fas fa-comments fa-2x text-gray-300"></i>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}
{#    </div>#}

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Dados Importados</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive text-nowrap">
                    <table class="table table-bordered table-hover">
                        {% if len(row_data) == 10 %}
                        <caption>Mostrando as primeiras 10 linhas</caption>
                        {% endif %}
                        <tr>
                            {% for col in column_names %}
                            <th>{{col}}</th>
                            {% endfor %}
                        </tr>
                        {% for row in row_data %}
                        <tr>
                            {% for col, row_ in zip(column_names, row) %}
                            <td>{{row_}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}